fastapi
uvicorn[standard]
python-dotenv
pydantic

langchain-core
langchain-community
langchain-huggingface
langchain-google-genai

youtube-transcript-api
faiss-cpu

# --extra-index-url https://download.pytorch.org/whl/cpu
# torch
# sentence-transformers
# transformers
# huggingface-hub

google-generativeai